In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.32)',
 'Requirement already satisfied: ipython>=1.0 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.2.0)',
 'Requirement already satisfied: sqlparse in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)',
 'Requirement already satisfied: six in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)',
 'Collecting prettytable<1',
 '  Downloading prettytable-0.7.2.zip (28 kB)',
 '  Preparing metadata (setup.py): started',
 "  Preparing metadata (setup.py): finished with status 'done'",
 'Requirement already satisfied: pickleshare in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: jedi>=0.16 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)',
 'Requirement already satisfied: setuptools>=18.5 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (61.2.0)',
 'Requirement already satisfied: stack-data in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: traitlets>=5 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)',
 'Requirement already satisfied: backcall in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: decorator in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)',
 'Requirement already satisfied: pexpect>4.3 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)',
 'Requirement already satisfied: appnope in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: pygments>=2.4.0 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)',
 'Requirement already satisfied: matplotlib-inline in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: greenlet!=0.4.17 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)',
 'Requirement already satisfied: ptyprocess>=0.5 in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: wcwidth in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: asttokens in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)',
 'Requirement already satisfied: pure-eval in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)',
 'Requirement already satisfied: executing in /Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)',
 'Building wheels for collected packages: prettytable',
 '  Building wheel for prettytable (setup.py): started',
 "  Building wheel for prettytable (setup.py): finished with status 'done'",
 '  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=39d6d0d4722d74637eed1397ec96479d050480453284857566aeaee383c32beb',
 '  Stored in directory: /Users/mehmetakifkiraz/Library/Caches/pip/wheels/b3/58/58/e8ac98e68ee981bbab5a2dbf3914b79b9d560ad6aeeb9dac3c',
 'Successfully built prettytable',
 'Installing collected packages: prettytable, ipython-sql',
 'Successfully installed ipython-sql-0.4.1 prettytable-0.7.2']

In [2]:
# şimdi sql i aktik ediyorum
%load_ext sql

In [3]:
%sql sqlite:///vbo.db

In [4]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [5]:
%%sql
CREATE TABLE yeni_tablo (firstname varchar(20),
                        lastname varchar(20));

 * sqlite:///vbo.db
Done.

[]

In [8]:
%%sql 
INSERT INTO yeni_tablo values('Ali', 'Uzaya_Git');
SET NOCOUNT ON;

 * sqlite:///vbo.db
1 rows affected.
(sqlite3.OperationalError) near "SET": syntax error
[SQL: SET NOCOUNT ON;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [9]:
%%sql
SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
Done.

[('mehmet\n', 'soyadi'), ('Ali', 'Uzaya_Git')]

In [10]:
%%sql 
INSERT INTO yeni_tablo values('Işık', 'Süte_Devam');

 * sqlite:///vbo.db
1 rows affected.

[]

# Select işlemleri

In [13]:
%%sql
SELECT * FROM Products LIMIT 5;

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21)]

In [23]:
%%sql
SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///vbo.db
Done.

[('Products',),
 ('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [24]:
# tüm veri tabanı içerisindeki tüm tabloları getiriyoruz

In [25]:
# şimdi ise tüm değişkenlerin isimlerine erişim sağlayacağız

In [27]:
%%sql
SELECT * FROM Customers where 1=0

 * sqlite:///vbo.db
Done.

[]

In [28]:
%%sql
SELECT * FROM Customers LIMIT 3

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [30]:
%%sql
SELECT CustomerName,City FROM Customers LIMIT 5

 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.'),
 ('Around the Horn', 'London'),
 ('Berglunds snabbköp', 'Luleå')]

In [31]:
%%sql
SELECT * FROM Products LIMIT 3

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [37]:
#Matematiksel işlemler

In [38]:
%%sql
SELECT Price,Price*2 FROM Products LIMIT 3

 * sqlite:///vbo.db
Done.

[(18, 36), (19, 38), (10, 20)]

In [40]:
# alias: takma isim, kısayol

In [42]:
%%sql
SELECT Price AS normal_price, Price*2 AS kare_price, Price*3 AS kup_price FROM Products LIMIT 10

 * sqlite:///vbo.db
Done.

[(18, 36, 54),
 (19, 38, 57),
 (10, 20, 30),
 (22, 44, 66),
 (21, 42, 63),
 (25, 50, 75),
 (30, 60, 90),
 (40, 80, 120),
 (97, 194, 291),
 (31, 62, 93)]

In [43]:
# count

In [45]:
%%sql
SELECT Count(*) FROM Customers;

 * sqlite:///vbo.db
Done.

[(91,)]

In [46]:
%%sql
SELECT COUNT(*) AS satir_sayisi FROM PRODUCTS

 * sqlite:///vbo.db
Done.

[(77,)]

In [47]:
# order by

In [48]:
%%sql
SELECT * FROM Products ORDER BY Price LIMIT 10

 * sqlite:///vbo.db
Done.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14)]

In [49]:
%%sql
SELECT * FROM Products ORDER BY Price DESC LIMIT 10

 * sqlite:///vbo.db
Done.

[(31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46)]

# WHERE

In [50]:
%%sql
SELECT * FROM Customers LIMIT 10

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

In [53]:
%%sql
SELECT * FROM Customers WHERE Country="Germany";

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '1307', 'Germany'),
 (79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany'),
 (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')]

In [54]:
%%sql
SELECT * FROM Customers WHERE City="Berlin"

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [58]:
%%sql
SELECT * FROM Customers WHERE NOT City="Berlin" LIMIT 10;

 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')]

In [59]:
# numeric/sayısal seçim

In [60]:
%%sql 
SELECT * FROM Customers WHERE PostalCode=5021;

 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico')]

In [61]:
# and ve or ifadeleri

In [64]:
%%sql
SELECT * FROM Customers WHERE Country="UK";

 * sqlite:///vbo.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')]

In [68]:
%%sql
SELECT * FROM Customers WHERE Country="UK" AND City="London";

 * sqlite:///vbo.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')]

In [69]:
%%sql
SELECT * FROM Customers WHERE Country="UK" OR Country="USA";

 * sqlite:///vbo.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [73]:
%%sql
SELECT * FROM Customers WHERE Country="USA" AND (City="Portland" OR City="Seattle")

 * sqlite:///vbo.db
Done.

[(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [74]:
%%sql
SELECT * FROM Customers WHERE Country="USA" AND PostalCode=97219 AND (City="Portland" OR City="Seattle")

 * sqlite:///vbo.db
Done.

[(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')]

In [75]:
# in / not in kullanımı

In [77]:
%%sql
SELECT * FROM Customers WHERE CustomerID in (1,3,5,7)

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')]

In [78]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND City IN ('Eugene','Elgin');

 * sqlite:///vbo.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [81]:
%%sql
SELECT * FROM Customers WHERE CustomerID not in (1,3,5,7) LIMIT 10;

 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')]

# LIKE seçim işlemleri

* 'a%' : “a” ile başlayan değerler
* '%a' : “a” ile biten değerler
* %or%' : herhangi bir yerinde “or” olan değerler
* '_r%' : ikinci sirasında “r” olan değerler
* 'a%%' : “a” ile başlayıp en az 3 karakterden oluşan değerler
* 'a%o' : “a” ile başlayıp “o” ile biten değerler

In [83]:
%%sql
SELECT * FROM Customers LIMIT 10

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

In [86]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "%or%" LIMIT 10

 * sqlite:///vbo.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico')]

In [87]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "%a" LIMIT 10

 * sqlite:///vbo.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')]

In [90]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "%a" AND Country LIKE "%il" LIMIT 10

 * sqlite:///vbo.db
Done.

[(61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')]

# BETWEEN

In [91]:
%%sql
SELECT * FROM Products LIMIT 10

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [92]:
%%sql
SELECT * FROM Products WHERE Price BETWEEN 10 AND 20 LIMIT 10

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18)]

In [93]:
%%sql
SELECT * FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN (1,2,3) LIMIT 10;

 * sqlite:///vbo.db
Done.

[(36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10)]

In [94]:
%%sql
SELECT ProductName FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN (1,2,3) LIMIT 10;

 * sqlite:///vbo.db
Done.

[('Inlagd Sill',),
 ('Singaporean Hokkien Fried Mee',),
 ('Spegesild',),
 ('Tourtière',),
 ('Escargots de Bourgogne',),
 ('Röd Kaviar',),
 ('Longlife Tofu',)]

In [98]:
%%sql
SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Govanni';

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 43),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18)]

# Aggregation Fonksiyonları: Temel istatistiksel işlemler

In [100]:
%%sql
SELECT MIN(Price) FROM Products

 * sqlite:///vbo.db
Done.

[(6,)]

In [101]:
%%sql
SELECT MAX(Price) FROM Products

 * sqlite:///vbo.db
Done.

[(435,)]

In [103]:
%%sql
SELECT MIN(Price) AS min_fiyat,MAX(Price) AS max_fiyat FROM Products

 * sqlite:///vbo.db
Done.

[(6, 435)]

In [104]:
%%sql
SELECT AVG(Price) FROM Products

 * sqlite:///vbo.db
Done.

[(39.15584415584416,)]

In [105]:
%%sql
SELECT SUM(Price) FROM Products

 * sqlite:///vbo.db
Done.

[(3015,)]

In [106]:
%%sql
SELECT COUNT(Price), MIN(Price), MAX(Price), AVG(Price), SUM(Price) FROM Products;

 * sqlite:///vbo.db
Done.

[(77, 6, 435, 39.15584415584416, 3015)]

# GROUP BY ve Aggregation Fonksiyonları

In [108]:
%%sql 
SELECT * FROM Customers LIMIT 3

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [113]:
%%sql
SELECT COUNT(CustomerID),Country FROM Customers GROUP BY Country;

 * sqlite:///vbo.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

In [114]:
%%sql
SELECT COUNT(CustomerID) AS musteri_sayisi,Country FROM Customers GROUP BY Country;

 * sqlite:///vbo.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

In [115]:
%%sql
SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
Done.

[(13, 'USA'),
 (11, 'Germany'),
 (11, 'France'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Spain'),
 (5, 'Mexico'),
 (4, 'Venezuela'),
 (3, 'Italy'),
 (3, 'Canada'),
 (3, 'Argentina'),
 (2, 'Switzerland'),
 (2, 'Sweden'),
 (2, 'Portugal'),
 (2, 'Finland'),
 (2, 'Denmark'),
 (2, 'Belgium'),
 (2, 'Austria'),
 (1, 'Poland'),
 (1, 'Norway'),
 (1, 'Ireland')]

In [116]:
%%sql 
SELECT * FROM Products LIMIT 3

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [117]:
%%sql
SELECT AVG(Price) AS ORT_FIYAT, CategoryID FROM Products GROUP BY CategoryID;

 * sqlite:///vbo.db
Done.

[(42.75, 1),
 (28.25, 2),
 (33.76923076923077, 3),
 (74.9, 4),
 (23.571428571428573, 5),
 (55.166666666666664, 6),
 (32.2, 7),
 (26.5, 8)]

# JOIN işlemleri

In [118]:
# Farklı veritabanlarını birbirine bağlamak için kullanılır

In [119]:
%%sql 
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///vbo.db
Done.

[('Products',),
 ('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [120]:
%%sql
SELECT * FROM Categories LIMIT 3

 * sqlite:///vbo.db
Done.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads')]

In [121]:
%%sql
SELECT * FROM Products LIMIT 3

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [122]:
# yukarı iki tabloyu CategoryID üzerinden birleştireceğim

In [123]:
# Left Join

In [124]:
%%sql
SELECT * FROM Products LEFT OUTER JOIN Categories ON Products.CategoryID=Categories.CategoryID LIMIT 10

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 6, 'Meat/Poultry', 'Prepared meats'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 8, 'Seafood', 'Seaweed and fish')]